body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  width: 200px;
  height: 300px;
  border-radius: 15px;
  background-color: #f7256c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.card-head{
  width: 100%;
  text-align: center;
}
.card-head h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-img{
  width: 50px;
  margin-bottom: 15px;
}

.card-body{
  width: 100%;
}
.card-body p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-footer{
  width: 100%;
}
.card-footer button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: white;
  color: #f7256c;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}